@font-face { font-family: Raleway-reg; src: url('../fonts/Raleway/static/Raleway-Thin.ttf'); }

@media screen and (min-width: 820px) {

    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #nav_menu_desc {
        display: flex;
        justify-content: center;
    }

    #nav_menu_desc ol {
        margin: auto;
        text-align:center;
    }
    #nav_menu_desc a {
        font-size: 26px;
        font-family: "Times New Roman", serif;
        color: black;
        transition: 1s;
        padding: 10px 20px;
        text-decoration: none;
    }
    #nav_menu_desc li {
        padding: 10px 20px;
        display: inline-block;
        transition: 150ms;
    }

    #nav_menu_desc a:hover {
        color: lightgray;
    }

    #1block div{
        height: 250px;
        width: 100%
    }
    #titling {
        position: absolute;
        top: 30%;
        text-align: center;
        right: 20%;
    }
    #titling h1 {
        font-size: 72px;
        letter-spacing: 5px;
        font-family: "Times New Roman", sans-serif;
    }
    #titling h3 {
        font-size: medium;
        letter-spacing: 7px;
        font-family: "Times New Roman", sans-serif;
    }
    #titling p {
        max-width: 650px;
        font-size: 16px;
        letter-spacing: 3px;
        font-weight: lighter;
        font-family: "Times New Roman", sans-serif;
    }

    #my_ban p{
        text-align: center;
        font-family: "Times New Roman", serif;
        font-size: 60px;
    }

    #classes {
        text-align: center;
        padding-top: 1%;
    }

    #classes li{
        padding: 10px 25px;
        display: inline-block;
        font-size: x-large;
        position: relative;
        margin-top: 20px;
        font-family: "Times New Roman", sans-serif;
        color: black;
        height: 100%;
        transition: 0.3s;
        background: #ffffff;
        z-index: 1;
    }
    #classes h3 {
        width: 400px;
    }
    #classes p{
        height: 100px;
        width: 400px;
        font-family: "Times New Roman", sans-serif;
    }
    #classes li:hover{
        transform: scale(1.1);
        background: #cfcfcf;
        border-radius: 1em;
        z-index: 999;
    }
    #banner_bottom {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        bottom: 40vh;
        background-color: whitesmoke;
    }
    #banner_bottom h3{
        font-family: "Times New Roman", serif;
        font-size: 36px;
    }
    #banner_bottom p {
        width: 600px;
        padding-left: 20px;
        padding-right: 20px;
        font-weight: bold;
        font-family: "Times New Roman", sans-serif;
        font-size: 24px;
    }

    footer {
        text-align: center;
        font-family: sans-serif;
        color: dimgray;
    }
    /** {*/
    /*    border: 1px solid;*/
    /*}*/
}

@media screen and (max-width: 819px) {

    #nav_menu_desc ol {
        margin: auto;
        text-align:center;
    }
    #nav_menu_desc a {
        font-size: 24px;
        font-family: "Times New Roman", serif;
        color: black;
        transition: 1s;
        padding: 10px 20px;
        text-decoration: none;
    }
    #nav_menu_desc li {
        list-style-type: none;
        padding: 20px 20px;
        transition: 150ms;
    }
    #nav_menu_desc a:hover {
        text-decoration: none;
        background-color: lightgray;
        border-radius: 1em;
    }
    #1block div{
        height: 250px;
        width:100%
    }
    #titling {
        text-align: center;
        margin-right: auto;
        position: absolute;
        right: 10%;
        bottom: 100px;
    }
    #titling h1 {
        font-size: 30px;
        letter-spacing: 5px;
        font-family: "Times New Roman", sans-serif;
    }
    #titling h3 {
        font-size: 12px;
        letter-spacing: 7px;
        font-family: "Times New Roman", sans-serif;
    }
    #titling p {
        max-width: 300px;
        font-size: 16px;
        letter-spacing: 3px;
        font-weight: lighter;
        font-family: "Times New Roman", sans-serif;
    }
    #classes.card {
        width: 50px;
    }
    #my_ban p{
        text-align: center;
        font-family: "Times New Roman", serif;
        font-size: 60px;
    }
    #classes {
        text-align: center;
    }
    #classes li{
        list-style-type: none;
        margin-left: auto;
        margin-right: auto;
        padding: 30px;
        font-size: x-large;
        letter-spacing: 3px;
        font-family: "Times New Roman", sans-serif;
        color: black;
        transition: 0.3s;
    }
    #classes li:hover{
        transform: scale(1.1);
    }
    #banner_bottom {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        bottom: 29vh;
        background-color: whitesmoke;
    }
    #banner_bottom h3{
        font-family: "Times New Roman", serif;
        font-size: 30px;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
    }
    #banner_bottom p {
        text-align: center;
        width: 500px;
        padding-left: 20px;
        padding-right: 20px;
        font-weight: bold;
        font-family: "Times New Roman", sans-serif;
        font-size: 20px;
    }
    footer {
        text-align: center;
        font-family: sans-serif;
        color: dimgray;
    }
    /** {*/
    /*    border: 1px solid;*/
    /*}*/
}